html
{
  font-family: sans-serif ;
}

.border_page{
  border: 10px;
}
.text
{
 text-align: justify;
  width: 50em;
}
.flotte
{
  float:left;
  margin-right: 50px;
}
table
{
  border-collapse: collapse;
}
td
{
  border: 1px solid black;
}