html
{
    background-color: wheat;
}

#body
{
    font-family: sans-serif ;
    align-content: center;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.lien
{
    text-decoration: none;
    color: black;
}

#menu li {
    margin-right:2.5em;
    padding-left:0;
    list-style: none;
}

.lia
{
    margin-bottom:15px;
}

.text
{
    text-align: justify;
}

h2
{
    text-decoration: underline;
}